<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flight booking confirmation</h1>
    <p><%= @passenger.name %> you have booked a flight.<br></p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>
