<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <%= render 'search' %>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <%= render 'results' %>
      </div>
    </div>
  </div>
</section>