<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <h1 class="title is-3">Book your flight to <%= @flight.arrival_airport.city %></h1>
        <%= render 'flight' %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <%= render 'passenger_details' %>
      </div>
    </div>
  </div>
</section>