<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <h1 class="title is-3">Booking confirmed! 🎉</h1>
        <br>
        <%= render 'flight' %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <%= render 'passengers' %>
        <br>
        <nav class="navbar-end">
          <div class="navbar-menu">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to 'Home', root_path, class: "button is-primary" %>
                </p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>