$primary: #00B4D8;
$link: #00B4D8;

@import 'bulma';

// remove gap between notificaitons and header
.notification:not(:last-child) {
  margin-bottom: 0;
}

// add gap for header logo
.logo {
  margin-left: 2vw;
}

// reduce bulma footer size
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
}

// to keep footer on bottom
.flex-wrapper {
  display: flex;
  min-height: calc(100vh - 52px);
  flex-direction: column;
  justify-content: space-between;
}

// search row on index page
.row {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

// add space for search results
.container:not(:last-child) {
  padding-bottom: 3em;
}

// center content on screen
.columns {
  justify-content: center;
}

@media screen and (min-width: 769px), print {
  .field-body {
    flex-grow: 6;
  }
}
