<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item logo" do %>
      <%= image_tag "logo.png", alt: "bookr logo" %>&nbsp;
    <% end %>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>